body{
    margin: 0;
    padding: 0;
    background-color: rgb(168, 82, 82);

}
p{
    margin: 0;
    letter-spacing: -1px;
    font-family: 'Oswald', sans-serif;
    font-size: 5;/*5*/
    line-height: 11px;/*14*/
    text-align: justify;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url(bibi.jpg) no-repeat center /cover;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-center: rgb(255, 255, 255, 0);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
